
.datepicker table {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.datepicker table tr td,
.datepicker table tr th {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
  background-color:#FFF;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #777;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  background: none;
  color: #444;
  cursor: default;
}